#content {
    text-align: center;
    margin: auto;
    margin: 15px;
}

#site-header {
    margin-bottom: 10px;
}

#player {
    margin-bottom: 10px;
}

#chat {
    margin: auto;
    max-width: 500px;
}

#chat-log {
    height: 12em;
}

#chat-send {
    width: 100%;
}
